.welcome {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.welcome-header h1 {
    font-size: 55px;
    font-weight: bolder;
    color: #FFFFFF;
    margin: 0;
}

.welcome-content {
    display: flex;
    column-gap: 45px;
}

.welcome-content p {
    font-size: 22px;
    color: #FFFFFF;
    
}

.welcome-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.welcome-description p {
    margin: 0 0 1em 0;
}


.welcome-image {
    width: 40%;
}
.welcome-image img {
    width: 100%;
    height: 100%;
    border: 1px solid #FF6AC2;
    border-radius: 8px;
}
.welcome-image img {
    width: 250px;
    height: 250px;
}