@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Space Mono", system-ui;
  background-color: #5D12D2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #33BBFF;
  text-decoration: inherit;
}
a:hover {
  color: #33BBFF;
}

body {
  margin: 37px 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* max-width: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
